/*
#################################################
App: Blueprint, Author: Marcel Hadorn (@marc3llo)
#################################################
*/
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Uncomment to remove blueprint style variables
@import 'partials/_variables';

// Twitter Bootstrap & Blueprint Base
@import 'sass-bootstrap/lib/bootstrap';
@import 'blueprint';

// Uncomment to remove blueprint style
@import 'blueprint-style';

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2.brand {
    img, span {
        float: left;
    }

    img {
        background: $brand-primary;
        margin: -5px 12px 17px 0;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
}



#signinform {
    margin-bottom: 20px !important;
}

#signoutform {
    display: none;

    h4 {
        margin: 6px 0 0 15px;
        float: left;
    }

    .btn {
        float: right;
        margin-right: 15px;
    }
}

body.signedin {
    #signinform {
        display: none;
    }

    #signoutform {
        display: block;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
