/*
#################################################
App: Blueprint, Author: Marcel Hadorn (@marc3llo)
#################################################
*/
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'partials/_variables';
@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2c94c9;
    min-height: 100%;
}
html {
    background: #2c94c9;
    height: 100%;
}

/*
 *  Grid Overlay for Twitter Bootstrap
 */
 .showgrid {
    //@media (min-width: 1170px) {
        body {
            background: -webkit-linear-gradient(
                            90deg, 
                            rgba(255,255,255,0.04), 
                            rgba(255,255,255,0.04)    4.545%, 
                            rgba(255,255,255,0)       4.545%, 
                            rgba(255,255,255,0)       100%
                        ),
                        -webkit-linear-gradient(
                            0deg,
                            rgba(255,255,255,0),
                            rgba(255,255,255,0)      34.5%,
                            rgba(255,255,255,0.12)    34.5%,
                            rgba(255,255,255,0.12)    35.5%,
                            rgba(255,255,255,0.05)      35.5%,
                            rgba(255,255,255,0.05)      64.5%,
                            rgba(255,255,255,0.12)    64.5%,
                            rgba(255,255,255,0.12)    65.5%,
                            rgba(255,255,255,0)      65.5%,
                            rgba(255,255,255,0)      100%
                        );
            background-size: 1.692em 1.692em, 6.992em 7.692em; /* 7.692 - 2.308 = 5.384 */
            background-position: left top, center top;
        }
    //}
    //@media (max-width: 1199px) and (min-width: 980px) {
    //    body {
    //        background: -webkit-linear-gradient(
    //                        90deg, 
    //                        rgba(255,255,255,0.1), 
    //                        rgba(255,255,255,0.1)    4.545%, 
    //                        rgba(255,255,255,0)       4.545%, 
    //                        rgba(255,255,255,0)       100%
    //                    ),
    //                    -webkit-linear-gradient(
    //                        0deg,
    //                        rgba(255,255,255,0),
    //                        rgba(255,255,255,0)       37.5%,
    //                        rgba(255,255,255,0.1)    37.5%,
    //                        rgba(255,255,255,0.1)    38.75%,
    //                        rgba(255,255,255,0)       38.75%,
    //                        rgba(255,255,255,0)       62.5%,
    //                        rgba(255,255,255,0.1)    62.5%,
    //                        rgba(255,255,255,0.1)    63.75%,
    //                        rgba(255,255,255,0)       63.75%,
    //                        rgba(255,255,255,0)       100%
    //                    );
    //        background-size: 1.692em 1.692em, 5.904em 6.154em;
    //        background-position: left top, center top;
    //    }
    //}


    //@media (max-width: 979px) and (min-width: 761px) {
    //    body {
    //        background: -webkit-linear-gradient(
    //                        90deg, 
    //                        rgba(255,255,255,0.1), 
    //                        rgba(255,255,255,0.1)    4.545%, 
    //                        rgba(255,255,255,0)       4.545%, 
    //                        rgba(255,255,255,0)       100%
    //                    ),
    //                    -webkit-linear-gradient(
    //                        0deg,
    //                        rgba(255,255,255,0),
    //                        rgba(255,255,255,0)       32.25%,
    //                        rgba(255,255,255,0.1)    32.25%,
    //                        rgba(255,255,255,0.1)    33.87%,
    //                        rgba(255,255,255,0)       33.87%,
    //                        rgba(255,255,255,0)       64.52%,
    //                        rgba(255,255,255,0.1)    64.52%,
    //                        rgba(255,255,255,0.1)    66.13%,
    //                        rgba(255,255,255,0)       66.13%,
    //                        rgba(255,255,255,0)       100%
    //                    );
    //        background-size: 1.692em 1.692em, 4.769em 4.769em;
    //        background-position: left top, center top;
    //    }
    //}
    //@media (max-width: 760px){
    //    body {
    //        background: -webkit-linear-gradient(
    //                        90deg, 
    //                        rgba(255,255,255,0.1), 
    //                        rgba(255,255,255,0.1)    4.545%, 
    //                        rgba(255,255,255,0)       4.545%, 
    //                        rgba(255,255,255,0)       100%
    //                    );
    //        background-size: 1.692em 1.692em;
    //        background-position: left top;  
    //    }
    //}
}


* {
    text-shadow: none !important;
}

p {
    color: white;
}

.bulless {
    list-style-type: none;
    padding-left: 0px;
}

input[type="text"],input[type="email"], textarea {
    @include box-shadow(none);
    background: transparentize($brand-primary,.9) !important;

    &::-webkit-input-placeholder {
        color: white;
    }
}


.isin {
    display: none;
}

body.signedin .isin {
    display: block;
}


#profile ul {
    display: none;
    padding-left: 18px;
}

.well {
    background-color: transparent;
    @include box-shadow(none);
}

h2.brand {
    img, span {
        float: left;
    }

    img {
        width: 50px; height: 50px;
        border: solid 1px white;
        border-radius:8px;
        margin: -7px 12px 0 0;
    }
}
.nav {
    margin-bottom: 17px;
}
.nav-pills li a { border: 1px solid transparent; }
.nav-pills li.active a { border: 1px solid white; span.glyphicon { margin-right: 5px;} }

    /* Gallery & Lighbox
    --------------------------------*/
    
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
    @include transition(.5s cubic-bezier(.52,-0.11,.54,1.17) all);
    background-color: transparentize(#1e4e80, .3);

    &.in {
        display: block;
    }
}

.cellobox {
    display: none;
    position: fixed;
    min-width: 480px;
    min-height: 480px;
    outline: 0;
    top: 50px;
    left: 50%;
    z-index: 99999;
    margin: 0px 0 0 -400px;
    border: 1px solid white;
    @include box-shadow(0px 3px 6px rgba(0,0,0,.2));

    &.fade {
        @include transition(.5s cubic-bezier(.52,-0.11,.54,1.17) top, .5s cubic-bezier(.52,-0.11,.54,1.17) opacity);
    }

    &.in {
        top: 50px;
        display: block;
        opacity: 1;
    }
}
#gallery {
    .thumbnail, .thumbnail img {
        background-size: cover;
        height: 200px;
        width: 100%;
    }

    .thumbnail, .cellobox {
        background: transparentize($brand-info,.6);

        &:hover {
            background-color: rgba(255,255,255,.1);
            border-color: white;
        }

        .glyphicon {
            position: relative;
            top: 50%; left: 50%;
            margin: -38px 0 0 -35px;

            &:before {
                font-size: 5em;
                color: white;
            }
        }
    }

    .cellobox {
        background: white;

        &:hover {
            background-color: rgba(255,255,255,.8);
        }

        .glyphicon {
            position: relative;
            margin-top: 41%;

            &:before {
                color: $brand-primary;
            }
        }
    }
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 15px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

#signinform {
    margin-bottom: 20px !important;
}

#signoutform {
    display: none;

    h4 {
        margin: 6px 0 0 15px;
        float: left;
    }

    .btn {
        float: right;
        margin-right: 15px;
    }
}

body.signedin {
    #signinform {
        display: none;
    }

    #signoutform {
        display: block;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
