<!--
#################################################
App: Blueprint, Author: Marcel Hadorn (@marc3llo)
#################################################
-->
<div class="well">
{{#users}}
	<ul id="{{username}}" class="profile">
		<li>Username: <b>{{username}}</b></li>
		<li>Name: <b>{{name.first}} {{name.last}}</b></li>
		<li>Occupation: {{occupation}}</li>
	</ul>
{{/users}}
</div>

<script>
	$(document).ready(function(){
		if(localStorage.getItem('signin')){
		var retrievedObject = localStorage.getItem('signin');
		var username = JSON.parse(retrievedObject);
		$('ul.profile').each(function(){
			var id = $(this).attr('id');
			if(username.user == id){
				$(this).show();
			}
		});
		}
	});
</script>